.register-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 8px 1px rgb(37, 37, 37, 0.3);
}
.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.card-item {
  margin: 0 auto;
  margin-top: 34px;
  width: 80%;
  height: 46px;
  border: 1px solid #333;
  border-radius: 4px;
}

.card-item input {
  width: 90%;
  height: 90%;
  border: none;
  outline: none;
}

.submit {
  background: rgba(8, 168, 16, 0.8);
  padding: 10px 0;
  border-radius: 6px;
  box-shadow: 2px 4px 1px rgb(37, 37, 37, 0.3);
  color: #fff;
  font-weight: bold;
  border-style: none;
  outline: none;
  font-size: 13px;
}

.submit:hover {
  opacity: 0.8;
}

.terms {
  color: #333;
  font-size: 10px;
  padding-bottom: 20px;
}
.terms a {
  text-decoration: none;
  color: red;
}

.card-err {
  font-size: 8px;
  display: block;
  padding-top: 4px;
  text-align: right;
  visibility: hidden;
}

.icon img {
  transform: translateY(10px);
  visibility: hidden;
}

.error {
  border: 1px solid rgb(255, 0, 0);
}
.error ::placeholder {
  visibility: hidden;
}
.error input[type="email"] ::placeholder {
  visibility: visible;
  color: red;
}
.error .icon img {
  visibility: visible;
}
.error .card-err {
  visibility: visible;
}

@media screen and (max-width: 800px) {
  .card-item {
    margin-top: 20px;
    height: 42px;
  }
  .card-item input {
    width: 80%;
  }
  .terms {
    padding-bottom: 10px;
  }
}
