.login {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url("http://localhost:3000/asset/bg-intro-desktop.png");
}
.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 0, 0, 0.5);
  z-index: -100;
}

.trial-page {
  position: relative;
  z-index: 100;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: #fff;
}

.header-container {
  flex: 1;
  text-align: start;
  margin: auto 80px;
}
.header-title {
  font-size: 30px;
  line-height: 1;
}
.header-content p {
  margin: 0;
}
.register-container {
  flex: 1;
  margin: auto 10px;
}
.register-trial {
  background: rgb(47, 31, 192, 0.8);
  padding: 16px 0;
  border-radius: 6px;
  box-shadow: 2px 8px 1px rgb(37, 37, 37, 0.3);
}

@media screen and (max-width: 800px) {
  .login {
    position: relative;
    height: 1000px;
    background-image: url("http://localhost:3000/asset/bg-intro-mobile.png");
  }
  .trial-page {
    flex-direction: column;
    width: 95%;
  }
  .header-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    flex: 1;
    height: fit-content;
    text-align: center;
  }
  .register-container {
    margin: 0 10px;
    flex: 2;
  }
  .header-title {
    margin-top: 20px;
    font-size: 18px;
  }
  .header-title h2 {
    margin-top: 30px;
  }
  .register-trial {
    padding: 12px 70px;
    margin: 0 0 20px 0;
  }
}
