.genre {
  width: 90%;
  margin: 0 auto;
}
.movies {
  overflow: scroll;
  white-space: nowrap;
  scroll-margin: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.movie-item {
  display: inline-block;
  margin: 0 10px;
  height: 160px;
  width: 300px;
}
.movie-item img {
  height: 160px;
}
